<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ogaclejapan.qiitanium">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:name=".Qiitanium"
                 android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/application_name"
                 android:theme="@style/AppTheme">

        <activity android:name=".presentation.activity.TopActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activity.ArticleDetailActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".presentation.activity.TagActivity"
                  android:label="@string/app_name">
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="6ff789a66e4b07345fc31164a90c4a1e4c51321c"/>

    </application>

</manifest>
